<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title> Tiddy Code | Carrito </title>
</head>

<body>
    <header>
        <img src='/img/LogoTiddyCode.png' class="logoTC">
        <h2> Mi carrito + ícono </h2>
    </header>
    <main>
        <section class="contenedor-carrito">
        <div>
            <img src="" alt="foto-curso">
        </div>
        <div class="carrito-curso">
            <hr3> Nombre del curso </hr3>
            <p> Breve descripción del curso </p>
            <ul>
                <li> Fechas </li>
                <li> Días y horarios </li>
                <li> Precio </li>
            </ul>
        </div>
        <div>
            <img src="" alt="foto-curso">
        </div>
        <div class="carrito-curso">
            <hr3> Nombre del curso </hr3>
            <p> Breve descripción del curso </p>
            <ul>
                <li> Fechas </li>
                <li> Días y horarios </li>
                <li> Precio </li>
            </ul>
        </div>
        <button class="boton-pagar"> Pagar </button>
        </section>
        
        <section class="recomendados"> 
            <button> <a> <img src="" alt="recomendado 1"> </a> </button>
            <button> <a> <img src="" alt="recomendado 2"> </a> </button>
            <button> <a> <img src="" alt="recomendado 3"> </a> </button>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-cursos">
            <h4> Cursos</h4>
            <ul>
                <li><a href="#"> Back-end </a></li>
                <li><a href="#"> Front-end </a></li>
                <li><a href="#"> Full-stack </a></li>
            </ul>
        </div>
        <div class="footer-contacto">
            <h4> Contacto</h4>
            <ul>
                <li>unmailinventado@tiddycode.com.ar</li>
                <li><a href="#"> Por Whats App: 1155555555</a></li>
            </ul>
        </div>
        <div class="footer-nuestras-redes">
            <h4> Nosotros </h4>
            <ul>
                <li> <a href="#"> <img src="" alt="logo-insta"> </a> </li>
                <li> <a href="#"> <img src="" alt="logo-youtube"> </a> </li>
                <li> <a href="#"> <img src="" alt="logo-twitter"> </a></li>
            </ul>
        </div>
    </footer>
</body>

</html>