<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <title> Tiddy Code | Carrito </title>
</head>

<body>
    <header class="header container">
        <div class="row">
            <div class="col-sm-6">
            <img src='/img/Home/Home - Logo new.png' class="logoTC col-3">
            </div>
            <div class="navegacion col 6">
                <nav class="navegacion-items">
                    <a href="#" class="nav-item"> Cursos </a>
                    <a href="#" class="nav-item"> Comunidad </a>
                    <a href="#" class="nav-item"> Para empresas </a>
                    <a href="#" class="nav-item"> Nosotros </a>
                </nav>
            </div>
            <div class="usuario col-3">
                <button> Log in <img src="" alt="iconousuario"> </button>
                <button> Crea tu cuenta <img src="" alt="icono crea tu cuenta"> </button>
            </div>
        </div>
    </header>
    <main>
        <section class="contenedor-carrito container">
            <div class="row">
                <div class="contenedor-formulario col-6">
                    <h1 class="mensaje-de-pago"> ¿Cómo querés pagar? </h1>
                    <form action="" method="POST">
                        <div class="medios-de-pago">
                            <label for="medio-de-pago"> <img src='/img/Carrito/Carrito - Visa.png' alt="Visa" class="logo logo-visa"> </label>
                            <input type="radio" name="medio-de-pago" value="Visa" class="input-radio">
                        </div>
                        <div class="medios-de-pago">
                            <label for="medio-de-pago"> <img src='/img/Carrito/Carrito - Mastercard.png' alt="Mastercard" class="logo logo-master"> </label>
                            <input type="radio" name="medio-de-pago" value="Mastercard" class="input-radio">
                        </div>
                        <div class="medios-de-pago">
                            <label for="medio-de-pago"> <img src='/img/Carrito/Carrito - MP.png' alt="Mercado Pago" class="logo logo-mp"> </label>
                            <input type="radio" name="medio-de-pago" value="Mercado Pago" class="input-radio">
                        </div>
                        <div class="medios-de-pago">
                            <label for="medio-de-pago"> <h3 class="mensaje-transferencia"> Transferencia bancaria </h3> </label>
                            <input type="radio" name="medio-de-pago" value="Transferencia bancaria" checked class="input-radio">
                        </div>
                    </form>
                </div>

                <div class="contenedor-producto col-6">
                        <div class="contenedor-curso">
                            <img src="/img/Carrito/Carrito - producto comprado.png" alt="producto comprado" class="imagen-producto">
                        </div>
                        <hr>
                        <div class="contenedor-precio row">
                            <p class="precio col-6"> Total </p>
                            <p class="precio-2 col-6"> $32.290 </p>
                            <button class= "btn btn-dark boton-pagar"> Pagar </button>
                        </div>
                </div>
            </div>
        </section>
    </form>
    </main>
    <footer class="footer">
        <div class="footer-cursos">
            <h4> Cursos</h4>
            <ul>
                <li><a href="#"> Back-end </a></li>
                <li><a href="#"> Front-end </a></li>
                <li><a href="#"> Full-stack </a></li>
            </ul>
        </div>
        <div class="footer-contacto">
            <h4> Contacto</h4>
            <ul>
                <li>unmailinventado@tiddycode.com.ar</li>
                <li><a href="#"> Por Whats App: 1155555555</a></li>
            </ul>
        </div>
        <div class="footer-nuestras-redes">
            <h4> Nosotros </h4>
            <ul>
                <li> <a href="#"> <img src="" alt="logo-insta"> </a> </li>
                <li> <a href="#"> <img src="" alt="logo-youtube"> </a> </li>
                <li> <a href="#"> <img src="" alt="logo-twitter"> </a></li>
            </ul>
        </div>
    </footer>
</body>

</html>