<section class="contenedor-cursos container">
    <div>
        <div class="row">
            <h2 class="elegi-tu-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Elegí tu curso</h2>
            <p class="texto-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Repellat
                doloribus
                quam ex minima, corporis sit natus optio aut voluptatum ipsam.</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <i class="fa-light fa-circle-calendar"></i>
                <p class="texto-tiempo-curso"> 6 meses</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <i class="fa-light fa-clock"></i>
                <p class="texto-dias-clase"> 2 clases semanales</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h5 class="incluye">Incluye:</h5>
                <ul>
                    <li> Javascript </li>
                    <li> CSS </li>
                    <li> HTML </li>
                    <li> React</li>
                </ul>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-dark boton boton-curso1"> Ver curso </button>
        </div>
    </div>
</section>





<section class="contenedor-cursos container">

    <div class="todos-los-cursos row">
        <div class="cursos curso1 col-3">
            <h2 class="nombre-curso"> Full Stack Developer </h2>
            <p class="texto-curso">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
                doloribus
                quam ex minima, corporis sit natus optio aut voluptatum ipsam.</p>
            <div class="row">
                <div class="tiempo-de-curso col-6">
                    <img src="/img/Home/Home-tiempo.png" class="img-tiempo-curso">
                    <p class="texto-tiempo-curso"> 6 meses</p>
                </div>
                <div class="dias-cursada col-6">
                    <img src="/img/Home/Home - calendario.png" class="img-dias-clase">
                    <p class="texto-dias-clase"> 2 clases semanales</p>
                </div>
            </div>
            <h5 class="incluye">Incluye:</h5>
            <ul>
                <li> Javascript </li>
                <li> CSS </li>
                <li> HTML </li>
                <li> React</li>
            </ul>
            <button type="button" class="btn btn-dark boton boton-curso1"> Ver curso </button>
        </div>
        <div class="cursos curso2 col-3">
            <h2 class="nombre-curso"> Data Analytics </h2>
            <p class="texto-curso">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
                doloribus quam ex minima,
                corporis sit natus optio aut voluptatum ipsam.</p>
            <div class="row">
                <div class="tiempo-de-curso col-3">
                    <img src="/img/Home/Home-tiempo.png" class="img-tiempo-curso">
                    <p class="texto-tiempo-curso"> 6 meses</p>
                </div>
                <div class="dias-cursada col-6">
                    <img src="/img/Home/Home - calendario.png" class="img-dias-clase">
                    <p class="texto-dias-clase"> 2 clases semanales</p>
                </div>
            </div>
            <h5 class="incluye">Incluye:</h5>
            <ul>
                <li> Javascript </li>
                <li> CSS </li>
                <li> HTML </li>
                <li> React</li>
            </ul>
            <button type="button" class="btn btn-dark boton boton-curso2"> Ver curso</button>
        </div>
        <div class="cursos curso3 col-3">
            <h2 class="nombre-curso"> Certified Tech Developer </h2>
            <p class="texto-curso">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
                doloribus quam ex minima,
                corporis sit natus optio aut voluptatum ipsam.</p>
            <div class="row">
                <div class="tiempo-de-curso col-6">
                    <img src="/img/Home/Home-tiempo.png" class="img-tiempo-curso">
                    <p class="texto-tiempo-curso"> 6 meses</p>
                </div>
                <div class="dias-cursada col-6">
                    <img src="/img/Home/Home - calendario.png" class="img-dias-clase">
                    <p class="texto-dias-clase"> 2 clases semanales</p>
                </div>
            </div>
            <h5 class="incluye">Incluye:</h5>
            <ul>
                <li> Javascript </li>
                <li> CSS </li>
                <li> HTML </li>
                <li> React</li>
            </ul>
            <button type="button" class="btn btn-dark boton boton-curso3"> Ver curso</button>
        </div>
    </div>