<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title> Tiddy Code </title>
</head>

<body>
    <header class="encabezado row">
        <img src='/img/LogoTiddyCode.png' class="logoTC col-1">
        <div class="navegacion col-8">
            <nav class="navegacion-items">
                <a href="#" class="nav-item"> Cursos </a>
                <a href="#" class="nav-item"> Comunidad </a>
                <a href="#" class="nav-item"> Para empresas </a>
                <a href="#" class="nav-item"> Nosotros </a>
            </nav>
        </div>
        <div class="usuario col-2">
            <button> Log in <img src="" alt="iconousuario"> </button>
            <button> Crea tu cuenta <img src="" alt="icono crea tu cuenta"> </button>
        </div>
    </header>

    <main>
         <section class="contenedor-bienvenida row">
            <img class="imagen-bienvenida col-6" src="img/personaEnPC.jpg" alt="">
            <div class="texto-bienvenida col-6">
                <h2 class="titulo-bienvenida"> Unite a la comunidad de aprendizaje online en vivo más grande de Latinoamérica</h2>
                <button type="button" class="btn btn-dark botonVerLosCursos"> Ver todos los cursos</button>
            </div>
        </section> 

        <!--<section class="contenedor-bienvenida">
            <img class="imagen-bienvenida" src="img/personaEnPC.jpg" alt="">
            <div class="texto-bienvenida">
                <h2 class="titulo-bienvenida"> Unite a la comunidad de aprendizaje online en vivo más grande de Latinoamérica</h2>
                <button type="button" class="btn btn-dark botonVerLosCursos"> Ver todos los cursos</button>
            </div>

        </section>-->


        <section class="contenedor-colaboradores">
            <div class="logos-colaboradores row">
                <h2 class="nuestros-colaboradores">Nuestros colaboradores</h2>
                <a href="https://www.digitalhouse.com/ar" class="col-4"> <img src="img/DH.png" class="logo"> </a>
                <a href="https://www.mercadolibre.com.ar/" class="col-4"> <img src="img/mercadoLibre.jpg" class="logo"> </a>
                <a href="https://www.coderhouse.com/" class="col-4"> <img src="img/Codder.png" class="logo"> </a>
            </div>
        </section>

        <section class="contenedor-metodo-enseñanza">
            <div class="titulo-metodo-enseñanza">
                <h2> Como aprendemos</h2>
            </div>
            <br>
            <div class="metodo-enseñanza row">
                <div class="metodo1 col-4">
                    <img src="" alt="img/icono aprendiendo">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laudantium ab doloremque ullam
                    aperiam quibusdam dignissimos ad quidem voluptatum repellendus dicta debitis tempore rerum, ex
                    recusandae, sequi commodi unde et.</p>
                </div>
                <div class="metodo2 col-4">    
                    <img src="" alt="img/icono practicando">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laudantium ab doloremque ullam
                    aperiam quibusdam dignissimos ad quidem voluptatum repellendus dicta debitis tempore rerum, ex
                    recusandae, sequi commodi unde et.</p>
                </div>
                <div class="metodo3 col-4">
                    <img src="" alt="img/icono ejecutando">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laudantium ab doloremque ullam
                    aperiam quibusdam dignissimos ad quidem voluptatum repellendus dicta debitis tempore rerum, ex
                    recusandae, sequi commodi unde et.</p>
                </div>
            </div>
        </section>

        <section class="contenedor-empleadores row">
            <h2 class="titulo-empleadores"> Lo que dicen nuestros empleadores </h2>
            <div class="empleadores col-6">
                <img src="/img/empleador1.jpeg" class="empleador">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil vitae facilis placeat
                    blanditiis a praesentium cupiditate nostrum. Doloremque, consequatur.</p>
            </div>
            <div class="empleadores col-6">
                <img src="/img/empleador2.jpg" class="empleador">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil vitae facilis placeat
                    blanditiis a praesentium cupiditate nostrum. Doloremque, consequatur.</p>
            </div>
        </section>

        <section class="contenedor-cursos">
            <div class="todos los cursos row">
                <div class="curso1 col-3">
                    <h2>Nombre curso 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus quam ex minima,
                        corporis sit natus optio aut voluptatum ipsam.</p>
                    <button> Empezá!</button>
                </div>
                <div class="curso2 col-3">
                    <h2>Nombre curso 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus quam ex minima,
                        corporis sit natus optio aut voluptatum ipsam.</p>
                    <button> Empezá!</button>
                </div>
                <div class="curso3 col-3">
                    <h2>Nombre curso 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus quam ex minima,
                        corporis sit natus optio aut voluptatum ipsam.</p>
                    <button> Empezá!</button>    
                </div>
                
            </div>
        </section>
    </main>

    <footer class="footer row">
        <div class="footer-cursos col-3">
            <h4 class="cursos-footer"> Cursos</h4>
            <ul>
                <li><a href="#"> Back-end </a></li>
                <li><a href="#"> Front-end </a></li>
                <li><a href="#"> Full-stack </a></li>
            </ul>
        </div>
        <div class="footer-contacto col-3">
            <h4> Contacto</h4>
            <ul>
                <li>unmailinventado@tiddycode.com.ar</li>
                <li><a href="#"> Por Whats App: 1155555555</a></li>
            </ul>
        </div>
        <div class="footer-nuestras-redes col-3">
            <h4> Nosotros </h4>
            <ul>
                <li> <a href="#"> <img src="" alt="logo-insta"> </a> </li>
                <li> <a href="#"> <img src="" alt="logo-youtube"> </a> </li>
                <li> <a href="#"> <img src="" alt="logo-twitter"> </a></li>
            </ul>
        </div>
    </footer>
</body>
</html>