<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css"> <link>
        <title> Tiddy Code </title>
    </head>
   <body>
        <header>
            <div></div>
            <img src='/img/LogoTiddyCode.png' width="15%" height="15%" class="logoTC"> 
            <img src='/img/LogoTiddyCode.png' width="10%" height="10%" class="logoTCmovil">
            <h1 class="titulo"> Unite a la comunidad de aprendizaje online más grande</h1>
            <nav>
                <a href="#" class="cursos">Cursos</a>
                <a href="#" class="comunidad">Comunidad</a>
                <a href="#" class="empresas">Para empresas</a>
                <a href="#" class="nosotros">Nosotros</a>
                
            </nav>
            <marquee><h3 class="mensaje1"> Clases online en vivo dictadas por expertos de la insdustria, enfoque 100% práctico, mentorias personalizadas y acceso a una comunidad  de +150.000 estudiantes.</h3></marquee>
        </header>
        
        <section class="bienvenida">
            <img class="imagenBienvenida" src="https://st3.depositphotos.com/12731704/19024/i/450/depositphotos_190244392-stock-photo-team-business-people-using-laptops.jpg" alt="">
            <span class="textoSobreImagenBienvenida">Conocé todos nuestros cursos y descuentos!  </span>  
            <button class="botonVerLosCursos">Ver todos los cursos</button>  
        </section>        
 
    </body> 
</html>
