<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css"> <link>
        <title> Tiddy Code </title>
    </head>
   <body>
        <header>
            <img src='/img/LogoTiddyCode.png' class="logoTC">
            <nav class="navegacion">
                <a href="#" class="cursos">Cursos</a>
                <a href="#" class="comunidad">Comunidad</a>
                <a href="#" class="empresas">Para empresas</a>
                <a href="#" class="nosotros">Nosotros</a>    
            </nav>   
            <marquee><h3 class="mensaje1"> Clases online en vivo dictadas por expertos de la insdustria, enfoque 100% práctico, mentorias personalizadas y acceso a una comunidad  de +150.000 estudiantes.</h3></marquee>
        </header>
        <main>
           <section class="contenedor-bienvenida">
               <h2 class="titulo-bienvenida"> Unite a la comunidad de aprendizaje online más grande</h2>
               <img class="imagen-bienvenida" src="https://st3.depositphotos.com/12731704/19024/i/450/depositphotos_190244392-stock-photo-team-business-people-using-laptops.jpg" alt="">
               <div class="texto-bienvenida">
                 <h2 class="texto-imagen-bienvenida"> Conocé todos nuestros cursos y descuentos!  </h2>
                 <p class="parrafo-bienvenida"> Si sos estudiante podes acceder a un descuento especial! </p>
               </div>
               <button class="botonVerLosCursos"> Ver todos los cursos</button> 

           </section>
           <section class="contenedor-colaboradores">
                <div class="logos-colaboradores">
                    <a href="#"><img src="img/DH.png" class="logoDH"></a>
                    <a href="#"><img src="img/UTN.png" class="logoUTN"></a>
                    <a href="#"><img src="img/Codder.png" class="logoCodder"></a>
                </div>
           </section>

           <section class="contenedor-metodo-enseñanza">
               <div class="titulo-enseñanza">
                <h2> Como aprendemos:</h2>
               </div> 
                    <div class="metodo-enseñanza">
                        <h3>Icono aprendiendo</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laudantium ab doloremque ullam aperiam quibusdam dignissimos ad quidem voluptatum repellendus dicta debitis tempore rerum, ex recusandae, sequi commodi unde et.</p> 
                        <h4>icono para la proxima etapa =></h4>
                        <h3>Icono practicando</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laudantium ab doloremque ullam aperiam quibusdam dignissimos ad quidem voluptatum repellendus dicta debitis tempore rerum, ex recusandae, sequi commodi unde et.</p>
                        <h4>icono para la proxima etapa =></h4>
                        <h3>Icono ejecutando</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laudantium ab doloremque ullam aperiam quibusdam dignissimos ad quidem voluptatum repellendus dicta debitis tempore rerum, ex recusandae, sequi commodi unde et.</p> 
                 </div>
           </section>

           <section class="contenedor-empleadores">
                <h2>Lo que tienen para decir nuestros empleadores:</h2>
                <div>
                    <img src="/img/empleador1.jpeg" class="empleador1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil vitae facilis placeat blanditiis a praesentium cupiditate nostrum. Doloremque, consequatur.</p>
                </div>
                <div>
                    <img src="/img/empleador2.jpg" class="empleador1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil vitae facilis placeat blanditiis a praesentium cupiditate nostrum. Doloremque, consequatur.</p>
                </div>
           </section>

           <section class="cursos">
                <div class="todos los cursos">
                    <div class="curso1">
                        <h2>Nombre curso 1</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus optio aut voluptatum ipsam.</p>
                        <button> Empezá!</button>
                    </div>
                    <div class="curso2">
                        <h2>Nombre curso 2</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus optio aut voluptatum ipsam.</p>
                        <button> Empezá!</button>
                    </div>
                    <div class="curso3">
                        <h2>Nombre curso 2</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus optio aut voluptatum ipsam.</p>
                    </div>
                    <button> Empezá!</button> 
                </div>    
           </section>

        </main>
    </body> 

    <footer>

    </footer>
</html>
