<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link>
    <title> Tiddy Code | Login </title>
</head>

<body>
    <header>
        <img src='/img/LogoTiddyCode.png' class="logoTC">
        <h2>Nos alegramos de tenerte por acá!</h2>
    </header>
    <main>
        <h3>Acá va el ingreso de Usuario o email</h3>
        <h3>Acá va la contraseña</h3>
        <button> Ingresar </button>
    </main>
    <footer>
        <div>
        <button> Olvidé mi contraseña </button>
        </div>
        <div>
        <button> Volver al inicio </button>
        </div>
    </footer>

</body>

</html>