<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css"> <link>
        <title> Tiddy Code | Productos </title>
    </head>
    <body>
        <header>
            <img src='/img/LogoTiddyCode.png' class="logoTC">
            <nav class="navegacion">
                <a href="#" class="cursos">Cursos</a>
                <a href="#" class="comunidad">Comunidad</a>
                <a href="#" class="empresas">Para empresas</a>
                <a href="#" class="nosotros">Nosotros</a>    
            </nav>   
            <h2> Desarrollo UX/UI  </h2>
            <p> Breve descripción del curso:   </p>
            <button> Inscribirme </button> 
        </header>
        <main>
            <section class= "contenedor-curso">
            <h2> Descripción completa del curso </h2>
            <div class="detalle-curso">
                <ul>
                    <li> Duración del curso </li>
                    <li> Clases por semana </li>
                    <li> Cerficiado </li>
                    <li> Requisitos de inscripción  </li>
                </ul>
            </div> 
            </section>
        </main>
    
        <footer>
        </footer>
    </body> 
</html>