<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title> Tiddy Code </title>
</head>

<body>
    <header class="encabezado row">
        
    
            <nav class="navbar navbar- inverse bg-inverse">
            <a class="navbar-brand" href="index.html">
                    <img src="/img/LogoTiddyCode.png"  width="90" height="90" class="d-inline-block align-top" alt="Logo Tiddy Code">
                </a>
                <div class="navegacion col-8">
    </header>
    <main>
        <section class="contenedor-producto row">
            <img class="imagen-producto col-6" src="img/Producto - imagen portada.png" alt="">
            <div class="texto-bienvenida col-6">
                <h2 class="titulo-producto"> Programacion Web Full Stuck</h2>
                
                <h3 class="titulo-producto"> Comenza a Programar tu futuro</h3>
                <ol>
                    <li> +Correccion de Proyectos </li>
                    <li> +Tutoria personalizada </li>
                    <li> +Aprovecha 2 clases de prueba! </li>
                
                </ol>
                <button type="button" class="btn btn-dark botonReservatuLugar"> Reserva tu lugar</button>

            </div>
       
        </section> 

        <section class="contenedor-programa">
            <div class="detalle de programa row">
                <h2 class="acerca-del-curso"> Acerca del curso </h2>
                <div class="Modalidad col-2">
                    <h4>Modalidad</h4>
                    <img src="img/Producto -Modalidad.png" class="modalidad"> 
                    <p>Lorem ipsum dolor sit amet.</p>  
                </div>

                <div class= "Modalidad col-2">
                    <h4>Duracion</h4>
                    <img src="img/Producto-duracion.png" class="duracion"> 
                    <p>Lorem ipsum dolor sit amet </p>
                    
                </div>

                <div class="Modalidad col-2">
                    <h4>Dedicacion</h4>
                    <img src="img/producto-dedicacion.png" class="dedicacion"> 
                    <p>Lorem ipsum dolor sit amet </p>
                </div>

                <div class="Modalidad col-2">
                    <h4>Encuentro</h4>
                    <img src="img/productos-encuentros.png" class="encuentro"> 
                    <p>Lorem ipsum dolor sit amet </p>  
                </div>

                <div class="Modalidad col-2">
                    <h4>Campus Virtual</h4>
                    <img src="img/producto-campus.png" class="campus virtual"> 
                    <p>Lorem ipsum dolor sit amet </p>
                </div>
            </div>
        
            
        <section class="contenedor-quevasaprender- container">
            <div >
                <h2 class="titulo-quevasaprender"> ¿Que vamos Aprender?</h2>
                <p class="subtitulo-colaboradores">Este curso esta compuesto por 8 modulos en los qie veras:</p>
            </div>
            <br>
            <div class="metodo-enseñanza row">
                <div class="metodo1 col-4">
                    <h4> Introduccion a Node.js y Javascript</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="metodo2 col-4">
                    <h4> Metodologias del Desarrollo</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="metodo3 col-4">
                    <h4> Anatomia de un sitio web</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <button type="button" class="btn btn-light boton-descarga-programa"> Descarga el programa</button>


            </div>
        </section>

        <section class="empleados-recomiendan row">
            <div class="texto-bienvenida col-6">
                <h4 class="titulo-producto"> Los empleados nos recomiendan</h4>
                <h2>Nuestra experiencia con el curso Full Stack fue excelente</h2>
                <h8> orem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laudantium ab doloremque ullam
                    aperiam quibusdam dignissimos ad </h8>
               
                    <img src="img/Home - MercadoLibre.jpg" class="mercadolibre"> 
            </div>
            <img class="imagen-recomiendan col-6" src="img/Productos -Empleadores.png" alt="">
       
        </section>

</body>

</html>