<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link>
    <title> Tiddy Code | Registro de Usuario </title>
</head>

<body>
    <header>
        <img src='/img/LogoTiddyCode.png' class="logoTC">
        <h2>Creá tu cuenta</h2>
    </header>
    <main>
        <div>
            <h3>Acá va el nombre de USUARIO</h3>
        </div>
        <div>
            <h3>Acá va el EMAIL</h3>
        </div>
        <div>
            <h3>Acá va la CONTRASEÑA</h3>
        </div>
        <div>
            <h3>Acá va REPETIR CONTRASEÑA</h3>
        </div>
        <div>
            <h3>Acá va el TELÉFONO</h3>
        </div>
    </main>
    <footer>
        <div>
        <button> Crear cuenta </button>
        </div>
        <div>
        <button> Volver al inicio </button>
        </div>
    </footer>

</body>

</html>