* {
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */

#barraNavegacion{ 
    justify-content: right;
    margin-right: 100px;
}
.nav-link { 
    font-weight: bold;
    color: #6f50f8
}

/* CARRITO */

.contenedor-carrito {
    width: 90%;
    box-sizing: border-box;
    margin-top: 25px; 
    background-color: #f2f2f2;
    padding-bottom: 20px;
}

/* MEDIOS DE PAGO */

.mensaje-de-pago {
    margin-top: 5px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.medios-de-pago {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px solid #6f50f8;
    border-radius: 25px;
    width: 90%;
    padding: 5px 0 5px 0;
    background-color: white;
}

.logo-visa {
    width: 20%;
    margin-left: 10px;
    padding: 10px 0 10px 0;
}


.logo-mastercard {
    width: 20%;
    height: 100%;
    margin-left: 10px;
}

.logo-mercadopago {
    width: 25%;
    margin-left: 10px;
    padding: 8px 0 8px 0;
}

.mensaje-transferencia {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    padding: 15px 0 10px 0;
}

.input-radio {
    width: 5%;
}

/* PRODUCTO */

.contenedor-curso {
    width: 90%;
    background-color: white;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 3vw
}

.contenedor-producto {
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagen-producto {
    width: 75%
}

.boton-pagar {
    background-color: #6f50f8
}

.contenedor-precio{
    width: 95%;
}

.precio {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.precio-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 3em;
    font-weight: bold
}

/* FOOTER */

.footer{
    background-color: #f2f2f2;
    margin-top: 90px;
    padding-bottom: 40px;
}

.links-utiles{
    font-size: 23px;
    font-weight: bold;
    padding-top: 35px
}

.todos-los-links{
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.items-footer{
    margin-top: 20px;
}

.footer-2022{
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px

}

.footer2{
    border-top: solid black 1px;
    padding-top: 10px;
} 

.img-redes{
    padding:0;
    margin:0;
    width: 40px;
}

.linkedin{
    padding: 0;
    margin:0
    
}

.twitter{
    padding:0;
    margin:0;
  
}

.img-twitter{
    height: 45px;
    width: 40px;
    margin-left: 5px
}

.instagram{
    padding: 0;
    margin:0
}

.img-instagram{
    height: 45px;
    width: 40px;
}

.youtube{
    padding: 0;
    margin:0
}

.img-youtube{
    height: 40px;
    width: 45px;
}