


*{
    box-sizing: border-box;
   

}
.body{
    
    font-family:  'Roboto', sans-serif;
    margin: 0;
}




.header{
        background-color:#6F50F8;
        padding:22px;
        display: absolute;
        height: 100px;
       
       
     
        
        
        
        }
    
    
        .caja-logo{
            width:150px;
            flex-grow: 1;
            position: absolute;
        
        }
        
        .logo{
            width:100px;
            margin-left: 11%;
        }
    




.body-background{

    background:  #ebebeb;
    height:700px;
    margin:0px; 
    display: flex;
    align-items: center;

    

    
  
    

}

.caja-formulario{
    text-align: center;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
    border-radius: 4px;
    padding: 22px;
    margin-top: -11%;
    
 
  
    
    
   

}

.icono-titulo{  font-size: 12px;
    font-size: 12px;
    text-align: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo{
    display: inline;
    position: relative;
}

.subtitulo {
    font-size: 10px;
    text-align: left;
    margin-left: 10%;
    
}

.icono{

    position: relative;
    justify-content: left;
}



.menu-icon{
    margin-left: 90%;
    justify-content: right;
}

.form-label{
    font-size: 11px;
    text-align: left;
  
}

h3{
    font-size: 12px;
    text-align: left;
    margin-left: 10%;
   
}


.botonfoto{
    position: relative;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}
.selecionafoto{
   
    background-color: #E0DEDE;
    color: #2E2F36;
    border-radius: 6px ;
    border: none; 
    font-size: 11px;
    width: 145px;
    margin-left: 10%;
    height: 20px;
    padding: 4px;
   
   

}


.Crea-cuenta{
    font-size: 18px;
color:#6F50F8;
text-align: center;
margin-left:-5%;
margin-bottom: 35px;
}



.campos2{
    padding: 10px;
    text-align: left;
    margin-left: 6%;
}

.primera-parte{
    width: 92%;
}
.campo{
    margin:10px;
    padding: 8px;
    border-radius: 6px ;
    border: solid #666 1px; 
    font-size: 11px;
    width: 80%;
    color: #666;
}

.precio2{
    display:absolute;
    margin-left: 2%;
}
.boton{
    margin:0px;
    background-color: #6F50F8;
    color: white;
    padding: 8px;
    border-radius: 6px ;
    border: none; 
    font-size: 12px;
    width: 80%;
    font-weight: bold ;
    margin-top: 20px ;
    margin-left: 4%;

}

.resetear{
    margin-top:12px;
    background-color: white;
    color: #6F50F8;
    padding: 8px;
    border-radius: 6px ;
    border: solid white 1px; 
    font-size: 12px;
    width: 74%;
    font-weight: bold ;
    margin-left: 4%;

}



.copy{
    color: #666;
    font-size: 11px;
    text-align: center;
    margin-top: 5%;
   
}





@media only screen and (min-width: 769px) {


    .caja-logo{
        width:50px;
        flex-grow: 1;
        position: flex;
    
    }
    
    .logo{
        width:150px;
        margin-left: 11%;
    }


    .header{
        background-color:#6F50F8;
        padding:22px;
        display: absolute;    
        height:200px; 
       
     
        
        
        
        }

        .body-background{

            background:  #ebebeb;
            height:600px;
            margin:0px; 
            display: flex;
            align-items: center;
            
        
            
          
            
        
        }
        
        .caja-formulario{
            text-align: center;
            background: white;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            justify-content: center;
            padding:15px;
            margin-bottom: 12px;
            border-radius: 4px;
            margin-top: -160px;
            
            
        
        }
        
        
h3{
    font-size: 12px;
    text-align: left;
    margin-left: 10%;
    margin-top:15px;
   
}

.Crea-cuenta{
    font-size: 18px;
color:#6F50F8;
text-align: center;
margin-left:-5%;
margin-bottom: 35px;
}

.campos{
    padding: 10px;
}

.campos2{
    margin-left: 6.5%;
}

.campo{
    margin:10px;
    padding: 8px;
    border-radius: 6px ;
    border: solid #666 1px; 
    font-size: 11px;
    width: 80%;
    color: #666;
}

.boton{
    margin:0px;
    background-color: #6F50F8;
    color: white;
    padding: 8px;
    border-radius: 6px ;
    border: solid #666 1px; 
    font-size: 12px;
    width: 80%;
    font-weight: bold ;
    margin-top: 20px ;
    margin-left: 3%

}

.resetear{
    margin-top:12px;
    background-color: white;
    color: #6F50F8;
    padding: 8px;
    border-radius: 6px ;
    border: solid white 1px; 
    font-size: 12px;
    width: 74%;
    font-weight: bold ;
    margin-left: 6%

}

.footer{
    background-color: white;
    width: 100%;
    justify-content: center;
    display: absolute;
    align-items: flex-end;
    
   
   
    
   
   



    
}

.copy{
    color: #666;
    font-size: 11px;
    text-align: center;
    
   
   
}

.subir-imagen{
    margin-top:12px;
    background-color: white;
    color: #666;
    padding: 8px;
    border-radius: 6px ;
    border: solid white 1px; 
    font-size: 12px;
    width: 74%;
    text-align: left;
  
}

.campos3{
    display:flex;
    margin-left: 10%;
    font-size: 12px;
   
   
}

.campos4{
    margin-left: 10%;
    font-size: 12px;
    text-align: left;

   
}
        
         

        
.copy{
    color: #666;
    font-size: 11px;
    text-align: center;
    margin-top: 2%;
}    
        
       
}