*{
    font-family: 'DM Sans', sans-serif;
    margin:0
}

/* HEADER */

#barraNavegacion{ 
    justify-content: center;
}
.nav-link { 
    font-weight: bold;
}

/* SECCION BIENVENIDA */

.contenedor-bienvenida{
    box-sizing: border-box;
    margin-top: 40px;
    width: 80%;
}

.imagen-bienvenida{
    width: 100%;
    height: 80vh
}

.texto-bienvenida{
    font-size: 1em ;
    background-color: #6f50f8;
    padding-top: 20vh;
    padding-bottom: 10vh; 
    margin:0
    
}

.titulo-bienvenida{
    font-size: 2.9em;
    color: white;
    font-weight: bold;
    margin: 0 1.6em 0 2em
}

.boton-ver-los-cursos{
    margin: 2em 0 0 13vw;
    font-size: 1.5em;
}

/* COLABORADORES */

.contenedor-colaboradores{
    margin-top: 60px;
    margin-left: 5vw;
    margin-right: 15vw;
    width: 90%;
    box-sizing: border-box;
}

.colaboradores{
    width: 100%;
}

.titulo-colaboradores{
    width: 100%;
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
    color: white;
    background-color: #6f50f8;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 15px;
    letter-spacing: 5px 
}

.logo{
    margin-bottom: 15px;
    width: 100%
}


/* METODO DE ENSEÑANZA */


.contenedor-metodo-enseñanza{
    align-items: center;
    margin-top: 40px;
    margin-left: 5vw;
    width: 90%;
    background-color: #f2f2f2;
    border: 2px solid #6f50f8
}

.titulo-metodo-enseñanza{
    text-align: center;
    color:#6f50f8;
    font-size: 3em;
    margin-top: 10px;
    background-color: #f2f2f2;
    font-weight: bold;
    
}

.subtitulo-enseñanza{
    color:black;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 15px;
    text-align: center;
}

.contenedor-metodos{
    margin: 20px 0 60px 0px;
}

.caja-enseñanza{
    background-color: white;
    min-width: 100px;
    max-width: 400px;
}

.texto-enseñanza{
    margin-top: 20px;
}

.icono-enseñanza{
    font-size: 8em;
    color: #6f50f8;
    text-align: center;
    margin-top: 20px;
}



/* EMPLEADORES */



.contenedor-empleadores{
    width: 95%;
    margin-top: 60px;
    margin-left: 2.5vw;
    margin-right: 0vw;
    box-sizing: border-box;    
}

.empleadores{
    width: 100%;
}

.titulo-empleadores{
    font-size: 22px;
    margin-top: 45px;
    text-align: center;
    color: #6f50f8;
    font-weight: bold;
}

.texto-empleador{
    font-weight: bold;
    font-size: 1.3em;    
    margin-top: 60px;
}

.logo-globant{
    width: 15vw;
    margin-top: 0.7vw;
    margin-left: 3vw;
}

.imagen-empleador{
    width: 40%;
    padding:0;
    text-align: center;
}


/* CURSOS */

.contenedor-cursos{
    padding-top: 0px;
    
}

.elegi-tu-curso{
    color: white;
    background-color: #2e2f36;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin-top:60px;
    margin-bottom: 0;
    font-size: 3em;
    word-spacing: 15px;
    letter-spacing: 7px
}

.cursos{
    padding-top: 25px;
    padding-bottom: 25px;

}

.curso{
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px 0vw 10px 0vw;
    border-top: solid #6f50f8 2px;
    border-bottom: solid #6f50f8 2px;
    border-left: solid #6f50f8 1px;
    border-right: solid #6f50f8 1px;
} 

.nombre-curso{
    text-decoration: underline;
    text-align: center;
}

.curso1{
    border-left: solid #6f50f8 2px;
}

.curso3{
    border-right: solid #6f50f8 2px;
}

.tiempo-curso{
    margin-top: 3vh
}
.calendario{
    font-size: 2em;
    margin-left: 5vw;
    
}

.reloj{
    font-size: 2em;
    margin-left: 4vw
}

.texto-tiempo-curso{
    font-size: 1.3em;
    margin-left: 3vw;
}

.texto-dias-clase{
    font-size: 1.3em;
    margin-left: 2vw;
}
    
.incluye {
    font-weight: bold;
    font-size: 1.2em;
}

.ul-class {
    margin-left: 4.5vw;
}

.boton-curso{
    margin-left: 6.5vw;
    padding: 10px 4vw 10px 4vw;
    font-size: 1.4em;
}

/* FOOTER */

.footer{
    background-color: #f2f2f2;
    margin-top: 90px;
    padding-bottom: 40px;
}

.links-utiles{
    font-size: 23px;
    font-weight: bold;
    padding-top: 35px
}

.todos-los-links{
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.items-footer{
    margin-top: 20px;
}

.footer-2022{
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px

}

.footer2{
    border-top: solid black 1px;
    padding-top: 10px;
} 

.img-redes{
    padding:0;
    margin:0;
    width: 3vw;
}

.img-linkedin{
    height: 45px;
    width: 40px;
}

.img-twitter{
    height: 45px;
    width: 40px;
    margin-left: 5px;
}

.img-instagram{
    height: 45px;
    width: 40px;
}

.img-youtube{
    height: 45px;
    width: 40px;
    padding: 0;
}



/*
.linkedin{
    padding: 0;
    margin:0
    
}

.twitter{
    padding:0;
    margin:0;
  
}

.youtube{
    padding: 0;
    margin:0
}


*/

