.contenedor-bienvenida{
    box-sizing: border-box;
    margin-top: 40px
}
.imagen-bienvenida{
    width: 100%;
    height: 80vh
}


.texto-bienvenida{
    background-color: #6f50f8;
    padding-top: 20vh;
    padding-bottom: 10vh
}



.contenedor-acercadelcurso{
    background-color: #4B4B4B;
    color:white;
}

.titulo-bienvenida{
    font-size: 2.9em;
    color: white;
    font-weight: bold;
    margin: 0 1.6em 0 2em;
}


.titulo-bienvenida2{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 0 3em 0 4.5em;
}



.botonVerLosCursos{
    margin: 0 0 0 18vw;
    font-size: 1 em;
}

.texto{
    margin-left: 5em;
    color:white;
    margin-top: 1em;

}

.contenedor-bienvenida2{
    box-sizing: border-box;
    margin-top: 60px;

}


/* HEADER */

#barraNavegacion{ 
    justify-content: right;
    margin-right: 100px;
}
.nav-link { 
    font-weight: bold;
    color: #6f50f8
}




/* PRODUCTO */

.titulo
.contenedor-programa{
    background-color: #4B4B4B ;
    color:white;
}

.acercadelcurso{
    background-color: #4B4B4B;
    color:white;
    font-weight: bold;
    margin-left: 60;
}

.contenedor-quevasaprender{
    margin-top: 60px;
    width: 85vw;
    background-color: #e9e6e6;
    
}

.titulocursos{
    color:white;
    text-align:center;
}
.titulo-quevasaprender{
    color:#6f50f8;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
   
}

.modalidad{
    width: 8vw; 
    margin-left: 25px;
    width: 30%;
    height: 30%;
}

.modalidad1{
    width: 8vw; 
    margin-left: 35px;
    margin-top: 10px;
    width: 30%;
    height: 30%;
}

.modulos{
    text-align: center;
    margin: 0 3em 0 4.5em;

}

.texto2{
    font-size: 20px;
    margin-top: 15px;
    margin-left:35px;
}

.boton-descarga-programa{
    background-color:#6f50f8;
    color:white;
}

.enseñanza{
    background-color: white;
}

.titulo-recomiendan1{
    text-align: center;
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin: 0 2em 0 2em
}

.titulo-recomiendan2{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin: 0 2em 0 2em
}

.mercadolibre{
    margin-left: 20vw;
    margin-bottom: 4.5vh;
    height: 7vh;
    align-items: center;
}


.contenedor-cursos{
    padding-top: 0px;
    
}

.elegi-tu-curso{
    color: white;
    background-color: #2e2f36;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin-top:60px;
    margin-bottom: 0;
    font-size: 3em;
    word-spacing: 15px;
    letter-spacing: 7px
}

.cursos{
    padding-top: 25px;
    padding-bottom: 25px;
     
       
}

.curso{
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px 0vw 10px 0vw;
    border-top: solid #6f50f8 2px;
    border-bottom: solid #6f50f8 2px;
    border-left: solid #6f50f8 1px;
    border-right: solid #6f50f8 1px;
} 

.nombre-curso{
    text-decoration: underline;
    text-align: center;
}

.curso1{
    border-left: solid #6f50f8 2px;
}

.curso3{
    border-right: solid #6f50f8 2px;
}

.tiempo-curso{
    margin-top: 3vh
}
.calendario{
    font-size: 2em;
    margin-left: 5vw;
    
}

.reloj{
    font-size: 2em;
    margin-left: 4vw
}

.texto-tiempo-curso{
    font-size: 1.3em;
    margin-left: 3vw;
}

.texto-dias-clase{
    font-size: 1.3em;
    margin-left: 2vw;
}
    
.incluye{
    font-weight: bold;
    font-size: 1.2em;
}

ul{
    margin-left: 4.5vw;
}

.boton-curso{
    margin-left: 6.5vw;
    padding: 10px 4vw 10px 4vw;
    font-size: 1.4em;
}

/* FOOTER */

.footer{
    background-color: #f2f2f2;
    margin-top: 90px;
    padding-bottom: 40px;
}

.links-utiles{
    font-size: 23px;
    font-weight: bold;
    padding-top: 35px
}

.todos-los-links{
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.items-footer{
    margin-top: 20px;
}

.footer-2022{
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px

}

.footer2{
    border-top: solid black 1px;
    padding-top: 10px;
} 

.img-redes{
    padding:0;
    margin:0;
    width: 3vw;
}

.img-linkedin{
    height: 45px;
    width: 40px;
}

.img-twitter{
    height: 45px;
    width: 40px;
    margin-left: 5px;
}

.img-instagram{
    height: 45px;
    width: 40px;
}

.img-youtube{
    height: 45px;
    width: 40px;
    padding: 0;
}



/*
.linkedin{
    padding: 0;
    margin:0
    
}

.twitter{
    padding:0;
    margin:0;
  
}

.youtube{
    padding: 0;
    margin:0
}


*/

*{
    font-family: 'DM Sans', sans-serif;
    margin:0
  }
  
  .div-imagen{
      background-color: grey;
  }
    
  .center-imagen {
      display: block;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      width: 399px;
      height: 421px;
  }
  
  .cohete-imagen {
      display: block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
        width: 80%;
        height: 40vh
  }

  .cohete-imagen2 {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;/*550px;*/
    height: 70%;/*580px;*/
}
  
  .cohete2-imagen {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;/*550px;*/
    height: 80%;/*580px;*/
  }
    
  .icon {
    width: 25px;
    height: 25px;
  }
  
  .icon-tiddy {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%; /*143px;*/
    height: auto; /*40px;*/
  }

  .formlogin{
    margin-left: 30px;
  }













  
  
  /* MACA */


  *{
    box-sizing: border-box;
    margin: 0px;
    margin-right: 0%;
  
   
   
  
  }
  
  html,body
  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  
  body{
    
    font-family:  'DM Sans', sans-serif;
    margin: 0px;
  
  }
  
  
  /* HEADER */
  
  
  .header{
    background-color:#6F50F8;
    padding:22px;
    display: absolute;
    height: 100px;
   
  
    
    
    
    }
  
  
  .caja-logo{
        width:100%;
        flex-grow: 1;        
        display: flex; 
    
        
       
      
    
    }
  
  .contenedor-logo{
        width:20%;
    }
  
  .logo-black{
        display: none;
    }
    
  .logo{
        width:100px;
        margin-left: 15%;
        position: inline
    }
  
  .contenedor-boton{
    position: inline;
    text-align: right;
    width: 65%
  }
  
  .boton-menu{
    color: white;
    position: inline;
    margin-top: 2%;
    
   
   
  }
  
  .iniciar-boton{
    display:none
  }
  
  .regitrate-boton{
    display:none
  }
  
  .cursos-menu{
    display:none
  }
  
  
  /* FOOTER */
  .footer{
    background-color: #333333;
    margin-top: 50px;
  }
  
  .links{
    margin-left: 37px;
  }
  
  .links-utiles{
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  .basefooter{
    background-color:#333333;
    height: 35px;
   
  }
  .items-footer{
    color: white;
    margin-top: 12px;
  }
  
  .todos-los-links{
    color: white;
    text-decoration: none; 
    font-size: 12px;
  
  }
  
  .linea{
    border-top: 1px solid white;
    margin-top: 20px;
    margin-right: 5%;
  }
  .footer-2022{
    color: white;
    font-size: 9px;
    margin-top: 20px;
    
    
  }
  
  
  
  @media only screen and (min-width: 637px) {
  
  
    /* HEADER */
    
    
    
    .header{
            background-color:white;
            padding:22px;
            display: absolute;
            height: 50px;
           
         
            
            
            
            }
        
        
    .caja-logo{
                width:100%;
                flex-grow: 1;
               
                
               
              
            
            }
    .contenedor-logo{
        width:20%;
    }
    
    .logo{
        display: none;
    }        
    
    
    .logo-black{ display: inline;
                width:120px;
                margin-left: 11%;
                position: inline
            }
        
    
    
    .contenedor-boton{         
           width: 80%;
            }
    
    
    .boton-menu{
            display: none;       
            
           
        }
    
        .cursos-menu{
            display:inline;
            font-size: 12px;
            font-weight: 600;
            margin-right: 30px;
            font-style: normal;
            text-decoration: none;
        }
        
    .iniciar-boton{
            display:inline;
            margin:0px;
            background-color: #6F50F8;
           
            padding: 8px;
            border-radius: 6px ;
            border: #6F50F8 solid 2px; 
            font-size: 12px;
            width:100px; 
            margin-top: 5px ;
            font-weight: bold;
            margin-right: 10px;
            text-decoration: none; 
            color: white;
        }
        
    .regitrate-boton{
            display:inline;
            margin:0px;
            background-color: white ;
            color: #6F50F8 ;
            padding: 8px;
            border-radius: 6px ;
            border: #6F50F8 solid 2px; 
            font-size: 12px;
            width:100px; 
            margin-top: 5px ;
            font-weight: bold;
            margin-right: 10px;
            text-decoration: none; 
        }}
  
        @media only screen and (min-width: 889px) {
  
          /* HEADER */
      
        
        }    