*{
  font-family: 'DM Sans', sans-serif;
  margin:0
}

/* HEADER */

#barraNavegacion{ 
  justify-content: right;
  margin-right: 100px;
}
.nav-link { 
  font-weight: bold;
  color: #6f50f8
}

.div-imagen{
    background-color: grey;
}
  
.center-imagen {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 399px;
    height: 421px;
}

.cohete-imagen {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;/*550px;*/
    height: 70%;/*580px;*/
}

.cohete2-imagen {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;/*550px;*/
  height: 80%;/*580px;*/
}
  
.icon {
  width: 25px;
  height: 25px;
}

.icon-tiddy {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%; /*143px;*/
  height: auto; /*40px;*/
}