<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6d9e623f2f.js" crossorigin="anonymous"> </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/homebeta.css">
        <link rel="stylesheet" media="screen and (min-width: 637px)" href="/css/homebeta.css" />
        <link rel="stylesheet" media="screen and (min-width: 889px)" href="/css/homebeta.css" />   
        <title> Tidy Code </title>
    </head>
    <body class="body">
        <header>
            <!-- HEADER -->
            <div class="header">
                    <div class="caja-logo"> 
                        <div class="contenedor-logo"> 
                            <a href="/" > <div> <img src="/img/logo.jpg" alt="Logo de la empresa" class="logo"></div> </a>
                            <a href="/" > <div> <img src="/img/logoNegro.jpg" alt="Logo de la empresa" class="logo-black"> </div></a>
                        </div>
                            <div class="contenedor-boton"> 
                            <div class="boton-menu"> <i class="fa-solid fa-bars"></i></div>                           
                            
                            <i class="cursos-menu"> Lanzamientos <a href="./" style="text-decoration: none"></a> </i>
                            <i class="cursos-menu"> Cursos <a href="./" style="text-decoration: none"></a> </i>
                            <a href="/usuario/login" style="color: inherit; text-decoration: none"  target="_blank"> <button type="button" class="iniciar-boton">  Iniciar sesión </button> </a>
                            <a href="/usuario/registro" style="color: inherit; text-decoration: none"  target="_blank"> <button type="button" class="regitrate-boton"> Registrate </button> </a>
                        </div>
                    </div>  
            </div>  
            
     
              
            </header>

    <main>

        <!-- BIENVENIDA PRODUCTO FULL STACK -->
        <div class="blockbienvenida">
            
            
            <div class="violetabienvenida">
                <div class="textobienvenida">
                   <h2 class="titulo-bienvenida"> Unite a la comunidad de aprendizaje más grande de Latinoamérica </h2>             
                   <div class="titulo-bienvenida2"> Somos la plataforma de aprendizaje y desarrollo de talento que ayuda a construir equipos más competitivos.
                </div>
            
                   <button type="button" class="reserva"> Conocé los cursos</button>
            </div>
            </div>

            <div class="blockimagenbienvenida">
                <img class="imagen-bienvenida" src="img/imagenHome.png" alt=""> <!-- TEXTO DINÁMICO -->
                <img class="imagen-azul" src="img/imagenHome.png" alt=""> <!-- TEXTO DINÁMICO -->
          </div> 
        </div>
 
    
        <!-- EMPRESAS -->
        <div class="block-acerca-curso">
           
            <div class="titulo-empresas"> +1.000 empresas   </div>
            <div class="subtitulo-empresas"> Que confian en nosotros   </div>
            <div class="grupo-empresas">
                <img class="imagen-google" src="img/Google.png" alt=""> 
                <img class="imagen-meli" src="img/MELI.png" alt=""> 
                <img class="imagen-uber" src="img/UBER.png" alt=""> 
                <img class="imagen-linkedin" src="img/linkedin.png" alt=""> 
            </div>
            <div> <img src="/img/Empresas.png" alt="Logo de la empresa" class="foto-empresas"></div>
        </div>

            <!-- GESTION APRENDIZAJE -->
            
            <div class="base"> </div>
            <div class="titulo-gestion"> Gestión de Aprendizaje</div>
            <div class="base"> </div>
            <div class="block-descripcion-curso">
                
                <div class="descripcion-gestion">Con nuestro LMS, olvídate de gestionar diferentes plataformas, y maneja todos tus recursos de aprendizaje y desarrollo de talento en un solo lugar. Facilita la experiencia de tu equipo, y haz tu trabajo más sencillo. </div> <!-- TEXTO DINÁMICO -->
                <div class="gran-contenedor">
                <div  class="contenedores"> 
                    <div  class="contenedores-imagen">  <i class="fa-solid fa-award fa-lg"></i>  </div>
                    <div  class="contenedores-bloque-texto">  
                        <div  class="titulo-contenedores-bloque-texto"> 90% de cursos terminados </div>
                        <div  class="subtitulo-contenedores-bloque-texto"> Todos online en vivo.</div>
                    </div>
                </div>
            
       
                <div  class="contenedores"> 
                    <div  class="contenedores-imagen">  <i class="fa-solid fa-wand-magic-sparkles"></i></div>
                    <div  class="contenedores-bloque-texto">  
                        <div  class="titulo-contenedores-bloque-texto"> Educación accesible </div>
                        <div  class="subtitulo-contenedores-bloque-texto"> ¡Accedé a becas! </div>
                    </div>
                </div>

                <div  class="contenedores"> 
                    <div  class="contenedores-imagen"> <i class="fa-solid fa-briefcase"></i>  </div>
                    <div  class="contenedores-bloque-texto">  
                        <div  class="titulo-contenedores-bloque-texto"> Contenidos de alta calidad
                        </div>
                        <div  class="subtitulo-contenedores-bloque-texto"> Desarrollados por líderes del mercado. </div>
                    </div>
                </div>
            </div>

            </div>
            <div class="base"> </div>
        </div>

        <!-- NOS RECOMIENDAN -->

        <div class="block-recomiendan">
            <div class="block-recomiendan-texto"> 
                <div class="recomiendan-titulo"> 
                    Aprendizaje 360°
                </div>
                <div class="recomiendan-quote">  <!-- DINAMICO -->
                    Diseñamos nuestra plataforma para que disfrutes usarla
                </div>
                <div class="recomiendan-logo">  <!-- DINAMICO -->
                    </div>
                 <div class="recomiendan-texto"> 
                    Sabemos que una buena experiencia depende de su facilidad de uso y de un buen diseño. ¡Tenemos ambos! </div>


            </div>
            
            <div class="block-recomiendan-imagen">

                <img class="imagen-recomiendan" src="img/Empleadores.png" alt=""> 
                

            </div>
                


            </div>


         <!-- CURSOS -->
            <div class="fechas-block">
                <div class="base"> </div>
                <div class="fechas-todo-texto"> 
                <div class="fechas-titulo">Conocé nuestros cursos</div>
                <div class="cursos-block"> 
                    <% for (let c of cursos) { %>   
                    <div class="curso-1"> 
                    
                <div class="blanco"> </div>  
                     
                <div class="fechas-block-cuadrado">
                    
                    <div class="contenedor-imagen-cursos"> 
                    <img class="imagen-fullstack" src="../img/<%= c.imagenCurso %>" alt="">
                </div>
                    <div class="texto-fechas"> 
                    <div class="fecha"> <%= c.nombreCurso %> </div>  <!-- DINÁMICO -->
                    <div class="fecha-subtitulos-pequeños"><%= c.descripcion %> </div> 
                    </div>
                <a href="/producto/<%= c.id %>"> <button type="button" class="fechas-reserva">Ver curso</button> </a>
                 
                </div>
                <div class="base"> </div>        
                
            </div>           
            <% } %> 
        </div>
    </div>
</div>

        <!-- footer -->
        <footer class="footer">
            <div class="basefooter"> </div>
            <div class="links">
                
                    <div class="links-utiles"> LINKS ÚTILES</div>
                    <ul>
                        <li class="items-footer"><a href="#" class="todos-los-links"> Cursos </a></li>
                        <li class="items-footer"><a href="#" class="todos-los-links"> Términos y condiciones </a></li>
                        <li class="items-footer"><a href="#" class="todos-los-links"> FAQ's</a></li>
                        <li class="items-footer"><a href="#" class="todos-los-links"> Contacto</a></li>
                    </ul>
                <div class="linea"> </div>
                <p class="footer-2022">@ 2022 Tidy Code</p>
                <div class="basefooter"> </div>
            </div>
           

                  
                
        </footer>
    </main>
    </body>