<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>


    <!-- BIENVENIDA -->

    <main>
        <section class="contenedor-bienvenida container-fluid">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <img class="imagen-bienvenida" src="/img/Home/Home-Portada.png" alt="">
                </div>
                <div class="texto-bienvenida col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h2 class="titulo-bienvenida"> Unite a la comunidad de aprendizaje online en vivo más grande de
                        Latinoamérica</h2>
                    <button type="button" class="btn btn-dark boton-ver-los-cursos"> Ver todos los cursos</button>
                </div>
            </div>
        </section>


        <!-- COLABORADORES -->

        <section class="contenedor-colaboradores container-fluid">
            <h2 class="titulo-colaboradores"> Nuestros colaboradores </h2>
            <div class="colaboradores row d-flex justify-content-evenly">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <a href="https://www.mercadolibre.com.ar/ "> <img src="/img/Home/Home - MercadoLibre.jpg"
                                class="logo logoML col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        </a>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem,
                            ipsum dolor sit amet consectetur adipisicing elit.
                            Itaque
                            obcaecati nostrum animi
                            quidem numquam amet explicabo est et aut optio.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <a href="https://www.digitalhouse.com/ar"> <img src="/img/Home/Home - DH.png"
                                class="logo logoDH col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> </a>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem,
                            ipsum dolor sit amet consectetur adipisicing elit.
                            Itaque
                            obcaecati nostrum animi
                            quidem numquam amet explicabo est et aut optio.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <a href="https://learndigital.withgoogle.com/activate/courses"> <img
                                src="/img/Home/Home - Google.jpg"
                                class="logo logoGoogle col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> </a>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem,
                            ipsum dolor sit amet consectetur adipisicing elit.Itaque
                            obcaecati nostrum animi
                            quidem numquam amet explicabo est et aut optio.</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- METODO ENSEÑANZA -->
        <section class="contenedor-metodo-enseñanza container-fluid">
            <div>
                <h2 class="titulo-metodo-enseñanza col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> Cómo aprendemos
                </h2>
                <p class="subtitulo-enseñanza col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> ¿Cómo es la dinámica
                    del curso? </p>
            </div>
            <div class="contenedor-metodos row d-flex justify-content-evenly">
                <div class="caja-enseñanza col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <i class="fa-solid fa-play col-12 icono-enseñanza"></i>
                        <p class="col-12 texto-enseñanza"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Excepturi nihil
                            aspernatur quia ad
                            eveniet quibusdam quisquam dicta, non doloribus sed ducimus, numquam ipsam quos
                            temporibus rerum
                            cum saepe recusandae odit!</p>
                    </div>
                </div>
                <div class="caja-enseñanza col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <i class="fa-solid fa-video col-12 icono-enseñanza"></i>
                        <p class="col-12 texto-enseñanza"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Excepturi nihil
                            aspernatur quia ad
                            eveniet quibusdam quisquam dicta, non doloribus sed ducimus, numquam ipsam quos
                            temporibus rerum
                            cum saepe recusandae odit!</p>
                    </div>
                </div>
                <div class="caja-enseñanza col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <i class="fa-regular fa-circle-check col-12 icono-enseñanza"></i>
                        <p class="col-12 texto-enseñanza"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Excepturi nihil
                            aspernatur quia ad
                            eveniet quibusdam quisquam dicta, non doloribus sed ducimus, numquam ipsam quos
                            temporibus rerum
                            cum saepe recusandae odit!</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- EMPLEADORES -->

        <section class="contenedor-empleadores container-fluid">
            <div class="empleadores row">
                <div class="nuestros-empleadores col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h2 class="titulo-empleadores"> Lo que dicen nuestros empleadores </h2>
                    <p class="texto-empleador">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, magni
                        minus voluptas ea eum,
                        at nam officia omnis, itaque ab quod porro? Optio odio maxime inventore quam impedit! Culpa,
                        aperiam."</p>
                    <img src="\img\Globant_Logo.svg.png" alt="" class="logo-globant">
                </div>
                <img src="\img\Home\Home - Empleadores.png"
                    class="imagen-empleador col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 img-fluid rounded mx-auto d-block" alt="Esta imagen en localhost se muestra, Heroku no indica el error">

            </div>
        </section>



        <!-- CURSOS -->


        <section class="contenedor-cursos container">
            <h2 class="elegi-tu-curso">¡Elegí tu curso!</h2>
            <div class="cursos d-flex justify-content-around row">
                <div class="curso curso1 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 w-15">
                    <div class="row">
                        <h3 class="nombre-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Full Stack Developer
                        </h3>
                        <p class="texto-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus
                            optio aut voluptatum ipsam.</p>
                    </div>
                    <div class="row tiempo-curso">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 w-40">
                            <i class="fa-regular fa-calendar calendario"></i>
                            <p class="texto-tiempo-curso"> 6 meses</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 w-40">
                            <i class="fa-regular fa-clock reloj"></i>
                            <p class="texto-dias-clase"> 2 clases semanales</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 herramientas-curso">
                            <h5 class="incluye">Incluye:</h5>
                            <ul class="ul-class">
                                <li> Javascript </li>
                                <li> CSS </li>
                                <li> HTML </li>
                                <li> React</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark boton boton-curso"> Ver curso </button>
                    </div>
                </div>

                <div class="curso curso2 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 w-15">
                    <div class="row">
                        <h3 class="nombre-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Data Analytics</h3>
                        <p class="texto-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus
                            optio aut voluptatum ipsam.</p>
                    </div>
                    <div class="row tiempo-curso">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-calendar calendario"></i>
                            <p class="texto-tiempo-curso"> 6 meses</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-clock reloj"></i>
                            <p class="texto-dias-clase"> 2 clases semanales</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 herramientas-curso">
                            <h5 class="incluye">Incluye:</h5>
                            <ul>
                                <li> Javascript </li>
                                <li> CSS </li>
                                <li> HTML </li>
                                <li> React</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <button type="button boton-curso" class="btn btn-dark boton boton-curso"> Ver curso </button>
                    </div>
                </div>

                <div class="curso curso3 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 w-15">
                    <div class="row">
                        <h3 class="nombre-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Certified Tech
                            Developer</h3>
                        <p class="texto-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus
                            optio aut voluptatum ipsam.</p>
                    </div>
                    <div class="row tiempo-curso">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-calendar calendario"></i>
                            <p class="texto-tiempo-curso"> 6 meses</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-clock reloj"></i>
                            <p class="texto-dias-clase"> 2 clases semanales</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 herramientas-curso">
                            <h5 class="incluye">Incluye:</h5>
                            <ul>
                                <li> Javascript </li>
                                <li> CSS </li>
                                <li> HTML </li>
                                <li> React</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <button type="button boton-curso" class="btn btn-dark boton boton-curso"> Ver curso </button>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- FOOTER -->

    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>