<!DOCTYPE html>
<body>
    

<% if (usuario.idUsuario == usuarioLogueado.idUsuario) { %>
<p> Hola, <%= usuario.nombre %> </p>
<% } else { %> 
<p> No est치s logueado. </p>
<% } %>

<a href="/usuario/logout"><button class="btn btn-success" id="botonCerrarSesion" type="submit"> <% usuarioLogueado = "" %> Cerrar Sesi칩n </button> </a>

<script href="js/perfil.js"></script>

</body>

<!--Tenemos que hacer la l칩gica de preguntar si el usuario est치 logueado, porque sino podemos entrar manualmente. 

    