<!DOCTYPE html>
<% if (usuario.idUsuario == usuarioLogueado.idUsuario) { %>
<p> Hola, <%= usuario.nombre %> </p>
<% } else { %> 
<p> No est치s logueado. </p>
<% } %>

<button class="btn btn-success" type="submit"> <% usuarioLogueado = "" %> Cerrar Sesi칩n </button>

<!--Tenemos que hacer la l칩gica de preguntar si el usuario est치 logueado, porque sino podemos entrar manualmente. 