<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
       <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">-->
        <script src="https://kit.fontawesome.com/6d9e623f2f.js" crossorigin="anonymous"> </script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/producto.css">
        <title> Tidy Code | Producto </title>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img class="d-inline-block align-top" src="/img/Home/Home - Logo new.png" width="170" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="barraNavegacion">
                    <ul class="navbar-nav" style="font-size: 1em; margin-top: 0.5em">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Comunidad</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Nosotros</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <button class="btn btn-outline-link col-12"
                        style="--bs-btn-padding-y: 0.2rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: 1.25rem;">
                        <i class="bi bi-box-arrow-in-right"></i> Login</button>
                    <button class="btn btn-outline-link col-12"
                        style="--bs-btn-padding-y: 0.2rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: 1.25rem;">
                        <i class="bi bi-person-fill"></i> Crear cuenta</button>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <!-- BIENVENIDA PRODUCTO FULL STACK -->
        <section class="contenedor-bienvenida container-fluid">
            <div class="row">
                <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <img class="imagen-bienvenida" src="img/Producto - imagen portada.png" alt="">
                </div>
                 <div class="texto-bienvenida col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                   <h2 class="titulo-bienvenida"> Programacion Web Full Stack</h2>
                   <h6 class="titulo-bienvenida2"> Comenza a Programar tu futuro</h6>
                <ol>
                    <li class="texto">Correccion de Proyectos </li>
                    <li class="texto">Tutoria personalizada </li>
                    <li class="texto">Aprovecha 2 clases de prueba! </li>
                </ol>
                <button type="button" class="btn btn-dark botonVerLosCursos"> Reserva tu lugar</button>
            </div>
            </div>
        </section> 
    
        <!-- ACERCA DEL CURSO -->


        <section class="contenedor-acercadelcurso container-fluid">
            <h2 class="titulo-colaboradores"> Acerca del Curso</h2>
            <div class="colaboradores row d-flex justify-content-evenly">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <div class="row">
                        <img src="img/Producto -Modalidad.png" class="modalidad col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                        <h6 class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Modalidad</h6>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem
                            ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <div class="row">
                        <img src="img/Producto-duracion.png" class="modalidad col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h6 class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Duracion</h6>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem
                            ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <div class="row">
                        <img src="img/producto-dedicacion.png" class="modalidad col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                        <h6 class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Dedicacion</h6>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem
                            ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <div class="row">
                        <img src="img/productos-encuentros.png" class="modalidad col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                        <h6 class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Encuentro</h6>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem
                            ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <div class="row">
                        <img src="img/producto-campus.png" class="modalidad col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                        <h6 class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Campus Virtual</h6>
                        <p class="texto-colaboradores col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem
                            ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
        </section>


       <!-- QUE VAMOS A APRENDER --> 
        <section class="contenedor-metodo-enseñanza container-fluid">
            <div >
                <h2 class="titulo-quevasaprender"> ¿Que vamos Aprender?</h2>
                <h6 class="modulos">Este curso esta compuesto por 8 modulos en los que veras:</h6>
            </div>
            <br>
            <div class="metodo-enseñanza row">
                
                <div class="enseñanza  col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                    <h4> Introduccion a Node.js y Javascript</h4>
                    <p class= "texto-colaboradores">Lorem,
                        ipsum dolor sit amet consectetur adipisicing elit.
                        Itaque
                        obcaecati nostrum animi
                        quidem numquam amet explicabo est et aut optio.</p>
                </div>
                <div class="enseñanza  col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                    <h4> Metodologias del Desarrollo</h4>
                    <p class="texto-colaboradores">Lorem,
                        ipsum dolor sit amet consectetur adipisicing elit.
                        Itaque
                        obcaecati nostrum animi
                        quidem numquam amet explicabo est et aut optio.</p>
                </div>
                <div class="enseñanza  col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4  ">
                    <h4> Anatomia de un sitio web</h4>
                    <p class="texto-colaboradores">Lorem,
                        ipsum dolor sit amet consectetur adipisicing elit.
                        Itaque
                        obcaecati nostrum animi
                        quidem numquam amet explicabo est et aut optio.</p>
                </div>
                <button type="button" class="btn btn-light boton-descarga-programa"> Descarga el programa</button>


            </div>
        </section>

    <!-- EXPERIENCIA ALUMNOS --> 
        <section class="contenedor-bienvenida2 container-fluid">
         <div class = "row">
            <div class="texto-bienvenida col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h6 class="titulo-recomiendan1"> Los empleados nos recomiendan</h6>
                <h3 class="titulo-recomiendan2"> "Nuestra experiencia con el curso Full Stack fue excelente"</h3>
            
                    <img src="img/Home/Home - MercadoLibre.jpg" class="mercadolibre"> 
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="imagen-bienvenida" src="img/Productos -Empleadores.png" alt="">
        </div>
       </div>
        </section>  

         

        <!-- CURSOS -->


        <section class="contenedor-cursos container-fluid">
            <h2 class="elegi-tu-curso">Proximas Fechas de Inicio</h2>
            <div class="cursos d-flex justify-content-around row">
                <div class="curso curso1 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 w-15">
                    <div class="row">
                        <h3 class="nombre-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">20 de Septiembre </h3>
                        <p class="texto-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus
                            optio aut voluptatum ipsam.</p>
                           
                    </div>
                    <div class="row tiempo-curso">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 w-40">
                            <i class="fa-regular fa-calendar calendario"></i>
                            <p class="texto-tiempo-curso"> 6 meses</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 w-40">
                            <i class="fa-regular fa-clock reloj"></i>
                            <p class="texto-dias-clase"> 2 clases semanales</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 herramientas-curso">
                            <h5 class="incluye">$32.000</h5>
                            
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark boton boton-curso"> Inscribirse </button>
                    </div>
                </div>

                <div class="curso curso2 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 w-15">
                    <div class="row">
                        <h3 class="nombre-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">20 de Octubre</h3>
                        <p class="texto-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus
                            optio aut voluptatum ipsam.</p>
                    </div>
                    <div class="row tiempo-curso">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-calendar calendario"></i>
                            <p class="texto-tiempo-curso"> 6 meses</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-clock reloj"></i>
                            <p class="texto-dias-clase"> 2 clases semanales</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 herramientas-curso">
                            <h5 class="incluye">$32.000</h5>
                
                        </div>
                    </div>
                    <div>
                        <button type="button boton-curso" class="btn btn-dark boton boton-curso"> Inscribirse </button>
                    </div>
                </div>

                <div class="curso curso3 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 w-15">
                    <div class="row">
                        <h3 class="nombre-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">20 de Noviembre</h3>
                        <p class="texto-curso col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Repellat doloribus quam ex minima, corporis sit natus
                            optio aut voluptatum ipsam.</p>
                    </div>
                    <div class="row tiempo-curso">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-calendar calendario"></i>
                            <p class="texto-tiempo-curso"> 6 meses</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <i class="fa-regular fa-clock reloj"></i>
                            <p class="texto-dias-clase"> 2 clases semanales</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 herramientas-curso">
                            <h5 class="incluye">$32.000</h5>
                           
                        </div>
                    </div>
                    <div>
                        <button type="button boton-curso" class="btn btn-dark boton boton-curso"> Inscribirse </button>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

   <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>