
        <!-- footer -->
        <footer class="footer">
            <div class="basefooter"> </div>
            <div class="links">
                
                    <div class="links-utiles"> LINKS ÚTILES</div>
                    <ul>
                        <li class="items-footer"><a href="/cursos" class="todos-los-links"> Cursos </a></li>
                        <li class="items-footer"><a href="#" class="todos-los-links"> Términos y condiciones </a></li>
                        <li class="items-footer"><a href="#" class="todos-los-links"> FAQ's</a></li>
                        <li class="items-footer"><a href="#" class="todos-los-links"> Contacto</a></li>
                    </ul>
                <div class="linea"> </div>
                <p class="footer-2022">@ 2022 Tidy Code</p>
                <div class="basefooter"> </div>
            </div>
           

                  
                
        </footer>
    </main>
    </body>