
    <footer class="footer container-fluid">
        <div class="row">
            <div class="links-TC col-12">
                <h4 class="links-utiles"> LINKS ÚTILES</h4>
                <ul>
                    <li class="items-footer"><a href="#" class="todos-los-links"> Cursos </a></li>
                    <li class="items-footer"><a href="#" class="todos-los-links"> Términos y condiciones </a></li>
                    <li class="items-footer"><a href="#" class="todos-los-links"> FAQ's</a></li>
                    <li class="items-footer"><a href="#" class="todos-los-links"> Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="footer2 row">
            <div class="año-footer col-xs-8 col-sm-8 col-md-9 col-lg-9 col-xl-9">
                <p class="footer-2022">@ 2022 Tidy Code</p>
            </div>
            <div class="redes-sociales col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 float-right">
                <div class="row">
                    <div class="row-2">
                    <div class="redes linkedin col-3">
                        <a href="https://www.linkedin.com/"> <img src="/img/Home/Home - linkedin.png" alt=""
                                class="img-redes img-linkedin"> </a>
                    </div>
                    <div class="redes instagram col-3">
                        <a href="https://www.instagram.com"> <img src="/img/Home/Home - instagram.png" alt=""
                                class="img-redes img-instagram "> </a>
                    </div>
                    <div class="redes youtube col-3">
                        <a href="https://www.youtube.com/"> <img src="/img/Home/Home- Youtube.png" alt=""
                                class="img-redes img-youtube"> </a>
                    </div>
                    <div class="redes twitter col-3">
                        <a href="https://twitter.com/"> <img src="/img/Home/Home - twitter.png" alt=""
                                class="img-redes img-twitter"> </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </footer>