<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6d9e623f2f.js" crossorigin="anonymous"> </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/homebeta.css">
        <link rel="stylesheet" media="screen and (min-width: 637px)" href="/css/homebeta.css" />
        <link rel="stylesheet" media="screen and (min-width: 889px)" href="/css/homebeta.css" />   
        <title> Tidy Code | Producto </title>
    </head>
    <body class="body"> 
        <header>
            <!-- HEADER -->
            <div class="header">
                    <div class="caja-logo"> 
                        <div class="contenedor-logo"> 
                            <div> <img src="/img/logo.jpg" alt="Logo de la empresa" class="logo"></div>
                            <div> <img src="/img/logoNegro.jpg" alt="Logo de la empresa" class="logo-black"></div>
                        </div>
                            <div class="contenedor-boton"> 
                            <div class="boton-menu"> <i class="fa-solid fa-bars"></i></div>                           
                            
                            <i class="cursos-menu"> Lanzamientos <a href="./" style="text-decoration: none"></a> </i>
                            <i class="cursos-menu"> Cursos <a href="./" style="text-decoration: none"></a> </i>
                            <button type="button" class="iniciar-boton"> <a href="/login" style="color: inherit; text-decoration: none"  target="_blank"> Iniciar sesión </a></button>
                            <button type="button" class="regitrate-boton"> <a href="/register" style="color: inherit; text-decoration: none"  target="_blank">Registrate</button> </a>
                        </div>
                        </div>
                    </div>  
            </div>  
            
     
              
            </header>