
          <header>
            <!-- HEADER -->
            <div class="header">
                    <div class="caja-logo"> 
                        <div class="contenedor-logo"> 
                            <a href="/" > <div> <img src="/img/logo.jpg" alt="Logo de la empresa" class="logo"></div> </a>
                            <a href="/" > <div> <img src="/img/logoNegro.jpg" alt="Logo de la empresa" class="logo-black"> </div></a>
                        </div>
                            <div class="contenedor-boton"> 
                                <div class="dropdown">
                            <div class="boton-menu"> <i class="fa-solid fa-bars"></i></div>                           
                                 <div class="dropdown-content">
                                 <a href="/cursos" style="color: inherit; text-decoration: none" > Cursos</a> 
                                 <a href="/usuario/login" style="color: inherit; text-decoration: none"  target="_blank"> Iniciar sesión </a>
                                 <a href="/usuario/registro" style="color: inherit; text-decoration: none"  target="_blank"> Registrate  </a>
                                </div>
                              </div>
                            <i class="cursos-menu"> Lanzamientos <a href="./" style="text-decoration: none"></a> </i>
                            <i class="cursos-menu">  <a href="/cursos" style="color: inherit; text-decoration: none" > Cursos</a> </i>
                            <% if (locals.user == undefined) { %>
                            <a href="/usuario/login" style="color: inherit; text-decoration: none ; cursor: pointer;"  target="_blank"> <button type="button" class="iniciar-boton">  Iniciar sesión </button> </a>
                            
                            <a href="/usuario/registro" style="color: inherit; text-decoration: none; cursor: pointer;"  target="_blank"> <button type="button" class="regitrate-boton"> Registrate </button> </a>
                            <% } else { %>
                                <a href="/usuario/perfil/<%= (locals.user).idUsuario %>" style="color: inherit; text-decoration: none; cursor: pointer;"  target="_blank"> <button type="button" class="regitrate-boton"> Perfil </button> </a>
                            <% } %> 
                        </div>
                    </div>  
            </div>  
            
     
              
            </header>
