
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img class="d-inline-block align-top" src="/img/Home/Home - Logo new.png" width="170" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="barraNavegacion">
                    <ul class="navbar-nav" style="font-size: 1.25em; margin-top: 0.4em">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Comunidad</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Nosotros</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <button class="btn btn-outline-link col-12"
                        style="--bs-btn-padding-y: 0.2rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: 1.25rem;">
                        <i class="bi bi-box-arrow-in-right"></i> Login</button>
                    <button class="btn btn-outline-link col-12"
                        style="--bs-btn-padding-y: 0.2rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: 1.25rem;">
                        <i class="bi bi-person-fill"></i> Crear cuenta</button>
                </div>
            </div>
        </nav>
    </header>
